CATALOG_API_URL=https://hook.us1.make.com/0yj7wtd83l0ndymto95wzvmywb1rbq1e
NEXT_PUBLIC_SITE_URL=http://localhost:3000
NEXT_PUBLIC_WHATSAPP_NUMBER=59800000000
PLEXO_CLIENT_ID=your_plexo_client_id
PLEXO_CLIENT_SECRET=your_plexo_client_secret
